/* Styling vertical scroll bar */
.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 5px;
}

.scroll-bar:vertical .increment-button {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #797979;
    -fx-background-insets: 0;
    -fx-background-radius: 5px;
    -fx-padding: 0;
    -fx-pref-width: 5px;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(-fx-base, 20%);
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent; /* Make the track transparent */
}








.scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 5px;
}

.scroll-bar:horizontal .increment-button {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #797979;
    -fx-background-insets: 0;
    -fx-background-radius: 5px;
    -fx-padding: 0;
    -fx-pref-width: 5px;
}

.scroll-bar:horizontal .thumb:hover {
    -fx-background-color: derive(-fx-base, 20%);
}

.scroll-bar:horizontal .track {
    -fx-background-color: transparent; /* Make the track transparent */
}


