.side-button {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-min-width: 100%;
    -fx-text-fill: #b7b7b7;
    -fx-alignment: center;
    -fx-padding: 15px;
}

.side-button:hover {
    -fx-text-fill: #ffffff;
}

.background-boxes > * {
    -fx-background-color: black;
}

.background-box {
    -fx-padding: 10px;
}


.side-box {
    -fx-background-color: #181818;
    -fx-background-radius: 10px;
}

.songs-box > .viewport {
    -fx-background-color: #181818;
    -fx-background-radius: 10px;
}

.player-box {
    -fx-background-color: black;
}

.playing-info-box {
    -fx-alignment: center; /* Vertically center align the HBox and VBox */
    -fx-spacing: 10px; /* Add padding between the HBox and VBox */
    -fx-pref-height: 75px; /* Set the preferred height of the VBox */
    -fx-max-height: 75px; /* Set the maximum height of the VBox */
}

.song-button {
    -fx-background-color: transparent;
    -fx-min-height: 50px;
    -fx-padding: 10px;
    -fx-font-family: "Segoe UI";
    -fx-min-width: 100%;
}

.title {
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.artist {
    -fx-text-fill: #bebebe;
    -fx-font-size: 12px;
}

.song-button:hover {
    -fx-background-color: #232323;
}

.song-number {
    -fx-font-size: 15px;
    -fx-text-fill: #bebebe;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-padding: 8px;
}