.font-15 {
    -fx-font-size: 15;
}

.font-8 {
    -fx-font-size: 8;
}

.font-12 {
    -fx-font-size: 12;
}

.font-off-white {
    -fx-text-fill: #bebebe;
}

.font-white {
    -fx-text-fill: #ffffff;
}

.font-main {
    -fx-font-family: "Segoe UI";
}

.font-bold {
    -fx-font-weight: bold;
}