.play, .pause {
    -fx-background-color: transparent;
}

.seek-slider {
    -fx-max-width: 750;
    -fx-pref-width: 750;
    -fx-min-width: 250;
    -fx-padding: 0 0 8 0;
}

.controls {
    -fx-spacing: 4;
    -fx-alignment: center;
    -fx-padding: 8 0 0 0;
}


.player-box {
    -fx-alignment: center;
    -fx-spacing: 5;

}

.slider .track {
    -fx-background-color: #3b3b3b;
    -fx-max-height: 4;
    -fx-pref-height: 4;
}

.slider .thumb {
    -fx-background-color: #ffffff;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
}

.control-button {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-text-fill: #7a7a7a;
}

.last, .next {
    -fx-font-size: 20;
}

.repeat, .shuffle {
    -fx-font-size: 13;
}
.repeat:hover, .shuffle:hover, .last:hover, .next:hover {
    -fx-text-fill: #ffffff;
}

.volume-slider {
    -fx-max-width: 150;
    -fx-min-width: 50;
}



